<ol class="tweet-list">
  <li class="tweet-card">
    <div class="tweet-content">
      <div class="tweet-header">
        <span class="fullname">
          <strong>Enzo Portales</strong>
        </span>
        <span class="username">
          @<%= tweet.username %>
        </span>
        <span class="tweet-time">- Jul 18</span>
      </div>
      <a>
        <img class="tweet-card-avatar" src="https://tr.rbxcdn.com/5b8c7219638ce7d8073bee13141e21f6/420/420/Hat/Png" alt="">
      </a>
      <div class="tweet-text">
        <p class="" lang="es" data-aria-label-part="0">
          <%= tweet.description %>
          <a href="" class="twitter-hashtag"><s>#</s><b>firefox</b></a>
          <a href="" class="twitter-hashtag"><s>#</s><b>comunidad</b></a>
        </p>
        <% if action_name == 'index' %>
          <span class="float-end fs-5">
            <%= link_to tweet do %>
              <i class="bi bi-eye-fill text-primary"></i>
            <% end %>
          </span>
        <% else %>
          <span class="float-end fs-5 mx-1">
            <%= link_to @tweet, method: :delete do %>
              <i class="bi bi-trash-fill text-danger"></i>
            <% end %>
          </span>
          <span class="float-end fs-5 mx-1">
            <%= link_to edit_tweet_path(@tweet) do %>
              <i class="bi bi-pencil-fill text-primary"></i>
            <% end %>
          </span>
          <span class="float-end fs-5 mx-1">
            <%= link_to tweets_path do %>
              <i class="bi bi-arrow-return-left text-secondary"></i>
            <% end %>
          </span>
        <% end %>
      </div>
      <div class="tweet-footer">
        <a class="tweet-footer-btn text-decoration-none">
          <i class="octicon octicon-comment" aria-hidden="true"></i><span> 18</span>
        </a>
        <a class="tweet-footer-btn text-decoration-none">
          <i class="octicon octicon-sync" aria-hidden="true"></i><span> 64</span>
        </a>
        <a class="tweet-footer-btn text-decoration-none">
          <i class="octicon octicon-heart" aria-hidden="true"></i><span> 202</span>
        </a>
        <a class="tweet-footer-btn text-decoration-none">
          <i class="octicon octicon-mail" aria-hidden="true"></i><span> 155</span>
        </a>
      </div>
    </div> 
  </li>
</ol>