<ol class="tweet-list">
  <li class="tweet-card">
    <div class="tweet-content">
      <div class="tweet-header">
        <span class="fullname">
          <strong>Enzo Portales</strong>
        </span>
        <span class="username">
          @<%= tweet.username %>
        </span>
        <span class="tweet-time">
          - <%=Time.at(rand * Time.now.to_i).strftime('%b %d')%>
        </span>
      </div>
      <a>
        <img class="tweet-card-avatar" src="https://tr.rbxcdn.com/5b8c7219638ce7d8073bee13141e21f6/420/420/Hat/Png" alt="">
      </a>
      <div class="tweet-text">
        <p class="" lang="es" data-aria-label-part="0">
          <%= tweet.description %>
          <% for i in 0..rand(5) do %>
            <a href="#" class="twitter-hashtag text-decoration-none">
              <b>#<%=Faker::Lorem.word%></b>
            </a>
          <% end %>
        </p>
        <% if action_name == 'index' %>
          <span class="float-end fs-5">
            <%= link_to tweet do %>
              <i class="bi bi-eye-fill text-primary"></i>
            <% end %>
          </span>
        <% else %>
          <span class="float-end fs-5 mx-1">
            <%= button_to @tweet, method: :delete, style: "all: unset; cursor: pointer" do %>
              <i class="bi bi-trash-fill text-danger"></i>
            <% end %>
          </span>
          <span class="float-end fs-5 mx-1">
            <%= link_to edit_tweet_path(@tweet) do %>
              <i class="bi bi-pencil-fill text-primary"></i>
            <% end %>
          </span>
          <span class="float-end fs-5 mx-1">
            <%= link_to tweets_path do %>
              <i class="bi bi-arrow-return-left text-secondary"></i>
            <% end %>
          </span>
        <% end %>
      </div>
      <div class="tweet-footer">
        <a class="tweet-footer-btn text-decoration-none">
          <i class="bi bi-chat-left"></i>
          <span> <%=rand(10..100)%></span>
        </a>
        <a class="tweet-footer-btn text-decoration-none">
          <i class="bi bi-arrow-repeat"></i>
          <span> <%=rand(10..100)%></span>
        </a>
        <a class="tweet-footer-btn text-decoration-none">
          <i class="bi bi-heart-fill text-danger"></i>
          <span> <%=rand(10..100)%></span>
        </a>
        <a class="tweet-footer-btn text-decoration-none">
          <i class="bi bi-envelope"></i>
          <span> <%=rand(10..100)%></span>
        </a>
      </div>
    </div> 
  </li>
</ol>