<div class="toast align-items-center text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      <%= notice %>
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<%= form_with url: tweets_path, method: :get, class: "d-flex py-2" do |form| %>
  <div class="input-group me-3">
    <%= form.text_field :query_text, class: "form-control rounded-start-pill", aria_describedby:"search_basic",
      placeholder: ('Buscar Tweet'), value: params[:query_text] %>
    <span class="input-group-text rounded-end-pill" id="search_basic"><i class="bi bi-search"></i></span>
  </div>
  <%= link_to "Twittear", new_tweet_path, class: "btn btn-info rounded-pill fw-semibold text-white" %>
<%end%>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>

<div class="pt-3">
  <%= will_paginate @tweets, list_classes: %w(pagination justify-content-center),
    previous_label: '&laquo;', next_label: '&raquo;', 
    renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>